.lib-nologin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  gap: 20px;
}

.lib-login {
  width: 10%;
}
.lib-icon {
  scale: 4;
  margin: 2%;
}
.lib-text1 {
  font-size: 24px;
}
.lib-text2 {
  font-size: 14px;
}

#Dark .lib-login {
  :hover {
    background: #265a87;
  }
}
.seeAll-btn {
  border: none;
  background: transparent;
  color: #3ea6ff;
  font-weight: 500;
  border-radius: 12px;
}
#Light .seeAll-btn {
  :hover {
    background: #98cefe;
  }
}
#Dark .seeAll-btn {
  :hover {
    background: #265a87;
  }
}
.library-loggedIn {
  padding: 0rem 10rem;
  display: flex;
  gap: 50px;
  @media screen and (max-width: 550px) {
    padding: 0;
  }
  @media screen and (max-width: 1136px) {
    padding: 0rem 3rem;
  }
}
.user-library {
  margin: 2%;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.lib-title {
  display: flex;
  gap: 20px;
}
.history-videos {
  height: 202px;
  width: 208px;
  @media screen and (max-width: 848px) {
    height: 240px;
  }
}
.user-library-videos {
  display: flex;
  margin-top: 2%;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 629px) and (max-width: 848px) {
    gap: 50px;
  }
}
.account-avatar {
  background-color: gray;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
.heading {
  font-weight: 600;
  margin: 2% 0%;
}
.user-details {
  display: flex;

  flex-direction: column;
}
.detail {
  display: flex;
  justify-content: space-between;
}
.lib-video-thumbnail {
  width: 200px;
  height: 100px;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 2%;
  @media screen and (max-width: 848px) {
    width: 245px;
    height: 140px;
  }
}
.userDetails {
  @media screen and (max-width: 660px) {
    display: none;
  }
}
.sub-videos {
  display: flex;
  flex-wrap: wrap;
  // gap: 20px;
  // width: 100%;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 848px) {
    gap: 50px;
  }
}
.subscription-heading {
  font-weight: 600;
  margin: 5px;
  padding: 5px;
}
// .subscription {
//   height: 180px;
//   width: 208px;
//   display: flex;
//   flex-direction: column;
//   @media screen and (max-width: 848px) {
//     height: 240px;
//   }
// }
.subsribedVideos-container {
  padding: 0rem 10rem;
  height: 100vh;
  @media screen and (max-width: 848px) {
    padding: 0rem 1rem;
  }
}
