@import "../../App.scss";
.video-container {
  display: flex;

  gap: 24px;
  margin-left: 2%;
  @media screen and (max-width: 1261px) {
    flex-direction: column;
  }
}

.video-wrapper {
  flex: 5;
  // flex-shrink: 0.5;
  margin-top: 1%;
}
.video-playback {
  // width: "1262px";
  // height: "715px";
}
.recomendation-section {
  flex: 3;
  margin-top: 1%;
}
.title {
  font-size: 20px;
  margin: 2% 0% 0% 0%;
}
.channel {
  width: auto;
}
.channel-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.channel-info {
  margin: 10px 0px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.channel-subscribers {
  display: flex;
  gap: 5px;
  align-items: center;
}
.sub-text2 {
  font-size: 16px;
}
.channel-logo,
.account-image,
.channel-page {
  background: gray;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}
.channelTitle {
  display: flex;
  align-items: center;
  gap: 25px;
}
.subscribe-btn {
  border: none;
  border-radius: 15px;
  height: 35px;
  width: 96px;
  text-align: center;
}
#Light .subscribe-btn {
  background: black;
  color: white;
  border: none;
}
#Dark .subscribe-btn {
  background: white;
  color: black;
}

.buttons {
  display: flex;
  gap: 15px;
}
.action-btn1 {
  width: 130px;
  height: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.action-btn {
  width: 90px;
  height: 35px;
}
.action-btn,
.action-btn1,
.action-btn2 {
  border: none;

  border-radius: 15px;
}
.dislike-btn {
  border: none;
  background: #f2f2f2;
  border-left: 1px solid black;
  padding-left: 2%;
}
.action-btn2 {
  border-radius: 50%;
}
#Light .action-btn,
#Light .action-btn1,
#Light .action-btn2,
#Light .dislike-btn {
  background: #f2f2f2;
  color: black;
}
#Dark .action-btn,
#Dark .action-btn1,
#Dark .action-btn2,
#Dark .dislike-btn {
  background: #282727;
  color: white;
}
.description {
  width: 1261px;

  padding: 10px 10px;
  border-radius: 10px;
}
.channel-title,
.channel-thumbnail {
  cursor: pointer;
  font-weight: 700;
}

#Light .description {
  background: #f2f2f2;
}
#Dark .description {
  background: #282727;
}
.description-text {
  @include line-clamp(2);
}
.comments-number {
  display: flex;
  margin: 2% 0%;
  gap: 50px;
  padding: 3px;
}
.comment-input {
  width: 1195px;
  border: none;
}
#Light .comment-input {
  border-bottom: 1px solid black;
}
#Dark .comment-input {
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
}
.add-comments {
  display: flex;
  gap: 20px;
}
.comments {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1262px) {
    display: none;
  }
}
.previous-comments {
  margin-top: 5%;
  display: flex;
  gap: 20px;
}
.comment-content {
  width: 1195px;
  height: 95px;
  background: grey;
  padding: 1%;
}
.comment-actions {
  display: flex;
  gap: 50px;
  margin: 1%;
  align-items: center;
  cursor: pointer;
}
.smallcard-container {
  margin: 0;
  padding: 0;

  @media screen and (min-width: 1263px) {
    margin: 2%;
    padding: 2%;
  }
}
.smallvideo-card {
  display: flex;
  gap: 20px;

  margin: 3%;
  // justify-content: center;
  // align-items: center;
  @media screen and (min-width: 1263px) {
    height: 95px;
    gap: 40px;
  }
}
.video-details {
  display: flex;
  flex-direction: column;
  // gap: 15px;
}
.recommendation-thumbnail {
  width: 355px;
  height: 200px;
  border-radius: 15px;
  cursor: pointer;
  // flex: 1 1 167px;
  object-fit: cover;
  @media screen and (max-width: 600px) {
    width: 167px;
    height: 95px;
  }
  @media screen and (min-width: 1263px) {
    width: 167px;
    height: 95px;
  }
}
.rec-title {
  font-size: 14px;
  @include line-clamp(1);
  @media screen and (max-width: 1263px) {
    font-size: 17px;
    @include line-clamp(2);
  }
}
.rec-channel-name,
.rec-views {
  font-size: 12px;
  display: flex;
  margin: 0;
  color: #606060;
  @media screen and (max-width: 1263px) {
    font-size: 15px;
  }
}

#Dark .rec-channel-name,
#Dark .rec-views {
  color: #aaaaaa;
}
.channel-page {
  height: 78px;
  width: 78px;
}
.comment-btn {
  margin: 1%;
  padding-left: 90%;
}
