.logo {
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#Light .logo {
  background: #ffffff;
  color: #000;
}

.logo-container {
  display: flex;
  align-items: center;
  margin: 2%;
  padding-left: 2%;
}
.app-logo {
  height: 1.65rem;
}
.logo-text {
  font-weight: 600;
  font-family: Roboto, Arial, sans-serif;
}
.logo-helper {
  color: #aaaaaa;
  font-size: 0.85rem;
  font-weight: 600;
}

.menu-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  overflow-y: scroll;
}
#Light .menu-container {
  background: #ffffff;
  color: #000;
}
.menu-section {
  padding-left: 2%;
  :hover {
    background-color: #272727;
  }
}
#Light .menu-section {
  :hover {
    background-color: #d6d3d3;
  }
}
.shorts {
  height: 24px;
  width: 24px;
}
.menu-item {
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  height: 38px;
  margin: 2%;
  border-radius: 10px;
}

.menu-text {
  :hover {
    font-weight: 600;
  }
}

.hLine {
  margin: 15px 0px;
}

.login {
  margin: 2%;
  padding: 0rem 1.5rem;
  :hover {
    background: #265a87;
  }
}
#Light .login,
#Light .lib-login {
  :hover {
    background: #a7d5ff;
  }
}
.login-text {
  padding-left: 2rem;
}

.sub-head {
  font-size: large;
  padding: 0rem 1rem;
  // background: #0f0f0f;
}

.more-item {
  margin: 2%;
  padding-left: 1rem;
}
.tvlogo {
  height: 18px;
  width: 18px;
}
.sign-in {
  background: transparent;
  color: #3ea6ff;
  border: 0.5px solid #383838;
  border-radius: 15px;
  display: flex;
  gap: 8px;
  margin: 2%;
  padding: 5%;
  width: 70%;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
}

.final {
  margin: 2%;
  padding: 0rem 1rem;

  font-weight: 700;
  font-size: 13px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#Light.final {
  color: rgb(110, 104, 104);
}
#Dark.final {
  color: #aaaaaa;
}
.item4 {
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
}
.item6 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.grid {
  grid-column-start: 1;
  grid-column-end: 4;
}
.copyright {
  color: #717171;
  font-size: 12px;
  font-weight: 600;
  padding: 0.5rem 1.25rem;
}
