.coverPic {
  height: 270px;
  background: red;
  object-fit: contain;
}

.channel-videos {
  margin: 1%;
  padding: 0rem 10rem;
}

.video-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1.75rem;
}
.channel-video-thumbnail {
  width: 303px;
  height: 172px;
  border-radius: 12px;
}
.channel-videoCard {
  width: 303px;
}
