.coverPic {
  height: 270px;
  background: red;
  object-fit: contain;
}

.channel-videos {
  margin: 1%;
  padding: 0rem 4rem;
  @media screen and (max-width: 510px) {
    padding: 0rem 1rem;
  }
  @media screen and (min-width: 511px) and (max-width: 768px) {
    padding: 0 3rem;
  }
}

.video-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 511px) and (max-width: 1454px) {
  }
}
.channel-video-thumbnail {
  width: 303px;
  height: 172px;
  border-radius: 12px;
}
.channel-videoCard {
  width: min-content;
  // flex: 0.8 1 auto;
}
