@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.App {
  display: flex;
  position: sticky;
  top: 0;
  font-family: "Roboto", sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  flex: 7;
}
.menu {
  height: 100vh;
  background: #0f0f0f;
  color: white;
  flex: 1;
  position: sticky;
  top: 0;
}
#Light {
  background: white;
  color: black;
}

#Dark {
  background: #0f0f0f;
  color: white;
}
