@import "~bootstrap/scss/bootstrap";
.App {
  display: flex;
  position: sticky;
  top: 0;
}
.main {
  display: flex;
  flex-direction: column;
  flex: 7;
}
.menu {
  height: 100vh;
  background: #0f0f0f;
  color: white;
  flex: 1;
  position: sticky;
  top: 0;
}
#Light {
  background: white;
  color: black;
}

#Dark {
  background: #0f0f0f;
  color: white;
}
