.NavbarContainer {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  font-size: 15px;
}

.sign-in-btn {
  background: transparent;
  color: #3ea6ff;
  border: 0.5px solid #383838;
  border-radius: 15px;
  font-size: 15px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin: 3%;
  width: 125px;
  height: 35px;
  font-weight: 500;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 85%;
}
.search {
  position: relative;
  display: flex;
  width: 50%;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 40%;
  border-radius: 20px;
  border: 0.1px solid #303030;
}
.search-input {
  width: 80%;
  // background: transparent;
  // color: white;
  border: none;
  padding: 1rem;

  height: 38px;
  position: relative;
}
#Dark .search-input {
  background: #121212;
  color: #ffffff;
}

.search-btn {
  background: transparent;
  // color: azure;
  border: none;
  border-radius: 50%;
}
#Dark .search-btn {
  background: #121212;
  color: #ffffff;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  position: relative;
}
.more-actions {
  position: absolute;
  left: 90%;
}
.voice-search {
  scale: 1.1;
  :hover {
    border-radius: 50%;

    background: #dedbdb;
  }
}
#Dark .voice-search {
  :hover {
    border-radius: 50%;

    background: #424141;
  }
}
.login-btn {
  display: flex;
  :hover {
    background: #265a87;
  }
}
#Light .login-btn {
  :hover {
    background: #a7d5ff;
  }
}
.additional-options {
  width: 73%;
  height: 500px;
  padding-left: 2%;

  position: absolute;
  top: 20px;
  right: 30px;
  border-radius: 15px;
  z-index: -1;
}
#Dark Link {
  color: white;
}
#Dark .additional-options {
  background-color: #282828;
  color: aliceblue;

  :hover {
    background-color: #5c5b5b;
  }
}
#Light .additional-options {
  border: 1px solid #bcbcbc;
  background: #fff;
  :hover {
    background-color: #d6d3d3;
  }
}
